@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    background: rgb(208, 208, 201);
}
.container-principal{
    background: black;
}

.menu{
    background: rgb(208, 208, 201); 
}
#first{
 margin:0;
 background: red;
}
#second{
margin:0;
background-attachment: black;
}