@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
}

#header-container{
    background: black;
}

#firstGrid{ 
    background: #FFE521;
}

#secondGrid{
    background: rgb(240, 240, 240);

}
.venue-List{
    text-decoration: none;
}
#cohorts{
    list-style: none;
}
.main-body{
     background: white;
}

