body{
    background: rgb(138, 136, 136);
}
#welcome{
    position: relative;
    background:rgb(255, 255, 28);
    height: 400px;
    width: 21%;
    right: 7px;
    top:100px;
}

#ale{
    position: relative;
    width: 50%;
    left: 20%;
    top: 15px;
}

#cuadro{
    position: relative;
    background:orange;
    width: 60%;
    left: 25%;
    bottom: 100px;
}

#final {
    position: relative;
    background: rgb(245, 245, 245);
    height: 30px;
    text-align: center;
    top:150px;
}